header {
  border-bottom: 1px solid #e0e0e0;
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
  
    #logo {
      width: 32px;
      height: 32px;
    }

    #title {
      font-size: 18px;
      text-decoration: none;
      color: #000;
    }
  }
}

.primary-button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #0077c7;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;

  &:hover {
    background-color: #0068ae;
  }
}

.secondary-button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #b1b1b1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;

  &:hover {
    background-color: #e2e2e2;
  }
}

.danger-button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #e01e5a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;

  &:hover {
    background-color: #c71e4e;
  }
}
